<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>

    <%- include("./partials/nav.ejs") %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eos nam tenetur at nihil delectus. Reiciendis illo dolores obcaecati, animi, totam similique facere quis consectetur consequuntur beatae soluta excepturi provident?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nisi dolore quaerat sequi cupiditate suscipit, fugiat dignissimos quis expedita. Dolores, beatae culpa quis aspernatur totam vitae optio nesciunt recusandae excepturi?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quod asperiores, modi ea quae dicta earum libero voluptates velit quia voluptatum blanditiis? Unde aperiam rerum, porro accusantium praesentium quas minus?</p>

    </div>

<%- include("./partials/footer.ejs") %> 
</body>
</html>